<%- layout('layout/boilerplate') -%>
    <h1>Create Product</h1>
    <form action="/createProduct" method="post">

        <label for="productName">Product Name :</label>
        <input type="text" name="productName" placeholder="Enter product name" required> <br><br>
        <label for="productPrice">Product Price :</label>
        <input type="text" name="productPrice" placeholder="Enter product price" required><br><br>
        <label for="productDescription">Product Desciption :</label>
        <input type="text" name="productDescription" placeholder="Enter product desciption" required><br><br>
        <label for="productImageUrl">Product ImageUrl :</label>
        <input type="text" name="productImageUrl" placeholder="Enter product ImageUrl" required><br><br>
        <label for="productCategory">Product Category :</label>
        <input type="text" name="productCategory" placeholder="Enter product Category" required><br><br>    
      
        <input type="submit" >
    
        
    </form>
